{% extends 'base.html' %} {% load static %} {% block content %}
  <!-- Masthead-->
  <header class="masthead" style="background: url('../../static/img/bg-masthead2.jpg') no-repeat
    center;"">
    <div class="container position-relative">
      <div class="row justify-content-center">
        <div class="col-xl-6">
          <div class="text-center text-white">
            <!-- Page heading-->
            <h1 class="mb-5">Enter a Valid BYU Student ID</h1>
            <form class="form-subscribe">
              <!-- Email address input-->
              <div class="row">
                <div class="col">
                  <input
                    class="form-control form-control-lg"
                    placeholder="You should enter NINE digits. ex(00-000-0000)"
                  />
                </div>
                <div class="col-auto">
                  <button
                    class="btn btn-primary btn-lg"
                    id="submitButton"
                    type="submit"
                  >
                    Submit
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Icons Grid-->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i
                class="bi bi-calendar-date m-auto text-icon"
                id="calendar"
                onclick="popModal('app')"
              ></i>
            </div>
            <h3 class="calendar_title">Appointment</h3>
            <p class="lead mb-0" id="calendar_description">
              See your appointment detail
            </p>
          </div>
        </div>
        <div class="col-lg-4">
          <div
            class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3"
            id="vac_app"
          >
            <div class="features-icons-icon d-flex">
              <i
                class="bi bi-lightning m-auto text-icon"
                onclick="popModal('vac')"
              ></i>
            </div>
            <h3>COVID Vaccination</h3>
            <p class="lead mb-0">Schedule your vaccination ASAP</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

{%endblock%}
