{% extends 'base.html' %} {% load static %} {% block content %}
  <!-- Masthead-->
  <header class="masthead" style="background: url('../../static/img/bg-masthead2.jpg') no-repeat
    center;"">
    <div class="container position-relative">
      <div class="row justify-content-center">
        <div class="col-xl-6">
          <div class="text-center text-white">
            <!-- Page heading-->
            <h1 class="mb-5">Enter a Valid BYU Student ID</h1>
            <form class="form-subscribe" id="form_subscribe" name="form" method="get" action="{% url 'login' %}">
              <!-- Email address input-->
              <div class="row">
                <div class="col">
                  <input
                    class="form-control form-control-lg"
                    placeholder="You should enter NINE digits. ex(00-000-0000)"
                    name="search"
                    maxlength="9"
                    required
                  />
                </div>
                <div class="col-auto">
                  <button
                    class="btn btn-primary btn-lg"
                    id="submitButton"
                    type="submit"
                  >
                    Submit
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Icons Grid-->
</body>

{%endblock%}
